:root {
  --main-clr: #ffffff; /*WHITE*/
  --text-clr: #434455; /*SLATE*/
  --sec-clr: #2e2f42; /*NAVI*/
  --third-clr: #f4f4fd; /*CLOUD*/
  --logo-main-clr: #4d5ae5; /*IRIS*/
  --footer-txt-clr: #e7e9fc; /*CORN*/
  --hover-nav-clr: #404bbf; /*OCEAN*/
}

body {
  font-family: "roboto", sans-serif;
  background-color: var(--main-clr);
  color: var(--text-clr);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* =============HEADER================ */
.header {
}
.header-navigation {
}
.header-navigation-item {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}
.header-navigation-item:is(:hover, :focus) {
  color: var(--hover-nav-clr);
}
/* -----contacts------ */
.address {
}
.address-item {
  color: var(--text-clr);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-item:is(:hover, :focus) {
  color: var(--hover-nav-clr);
}
/* -----LOGO------ */

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.logo-color-main {
  color: var(--logo-main-clr);
}
.logo-color-secondary {
  color: var(--sec-clr);
}
/* =============HERO================ */
.hero {
  background-color: var(--sec-clr);
}
.hero-header {
  color: var(--main-clr);
  font-size: 56px;
  line-height: calc(60 / 56);
  letter-spacing: 0.02em;
}
.hero-btn {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  background-color: var(--logo-main-clr);
  color: var(--main-clr);
  cursor: pointer;
}
.hero-btn:is(:hover, :focus) {
  background-color: var(--hover-nav-clr);
}

.features {
  background-color: var(--main-clr);
}
.features-list {
}
.features-list-header {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--sec-clr);
}
.features-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* =============What we are doing================ */
.company-descr {
}
.company-descr-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--sec-clr);
}
/* =============employees list================ */
.our-team {
  background-color: var(--third-clr);
}
.our-team-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--sec-clr);
}
.our-team-list {
}
.our-team-list-item {
  background-color: var(--main-clr);
}
.our-team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--sec-clr);
}
.our-team-member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* =============footer================ */
.footer {
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-txt-clr);
}
.logo-color-secondary-footer {
  color: var(--third-clr);
}
/* ==========GALLERY================ */
.gallery {
}
.gallery-header {
  color: var(--sec-clr);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.gallery-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ==========BUTTONS================ */
.button {
}
.buttons-item {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--footer-txt-clr);
  color: var(--logo-main-clr);

  cursor: pointer;
}
.buttons-item:is(:hover, :focus) {
  background-color: var(--hover-nav-clr);
  color: var(--main-clr);
}
